.Loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.loaderBox{
  /*padding: 20px;
  border-radius: 10px;
  background-color: #ffefff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}
