.contact-form {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 1px 5px 1px hsla(48, 52%, 94%, .7);
  display: flex;
  font-size: 20px;
  width: 350px;
  padding: 15px;
  color: #090606;
}

.contact-form Form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}



Label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
