.contact-list {
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 4px;
  box-shadow: 0 1px 1px 1px hsl(0, 0%, 93%);
  display: flex;
  font-size: 20px;
  width: 650px;
  padding: 15px;
  color: #252525;
  border: #b4b4b4 solid 1px;
}
