
.container {
  min-height: calc(40vh);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-weight: 400;
  font-size: 48px;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 80px;
}

.logo {
  display: flex;
  align-content: center;
}
